@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto";
  --color-1: #4340e7;
  --color-2: #fff;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.box {
  position: relative;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 30px;
  outline: 5px solid black;
  border-radius: 40px;
  background-color: #4340e7;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  animation: slide-1 5s ease 1;
}

@keyframes slide-1 {
  0% {
    top: 10px;
    left: 10px;
  }

  20% {
    left: 10px;
    top: 200px;
  }
  40% {
    top: 200px;
    left: 10px;
  }
  60% {
    top: 200px;
    left: 500px;
  }
  80% {
    top: 200px;
    left: 500px;
  }
  100% {
    top: 10px;
    left: 500px;
  }
}
